@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@theme{
  --color-logo: #54BD95;
  --color-nav:#A6A6A6;
  --color-nav2:#F8F8FA;
  --color-star:#BBBBBB;
  --color-text:#191A15;
  --color-bg:#F9F8FE;
  --color-icon:#6DD130;
  --color-check:#F9FAFB;
  --color-span:#85DAB9;
  --color-footer:#161C28;
  --color-reg:#D9D9D9;
  --color-from:#222938;
  --font-inter: "Inter", "sans-serif";
}